<div class="container mb-36">
  <h1 class="text-3xl font-bold text-stone-900 mb-2">
    {{authors?.length}} Auteurs.
  </h1>

  <button class="bg-gray-100 text-violet-800 text-xs inline-flex items-center px-2.5 py-0.5 rounded-full mr-2"
          [ngClass]="{
            'font-semibold': isSortByText() === true,
            'font-normal': isSortByText() === false
          }"
          (click)="sortByAlpha()" title="Trier par nom" [disabled]="isSortByText()">
    Trier par nom
  </button>

  <button class="bg-gray-100 text-violet-800 text-xs inline-flex items-center px-2.5 py-0.5 rounded-full"
          [ngClass]="{
            'font-semibold': isSortByTotal() === true,
            'font-normal': isSortByTotal() === false
          }"
          (click)="sortByCount()" title="Trier par total de citations" [disabled]="isSortByTotal()">
    Trier par total
  </button>

  <ul class="list-none">
    <li class="p-1" *ngFor="let item of paginatedAuthors">
      <a routerLink="/authors/{{item.getName()}}">{{item.getName()}} <small>({{item.getCount()}})</small></a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="w-full">
    <section id="bottom-navigation" class="block fixed inset-x-0 bottom-10 z-10 bg-white">
      <app-pager [list]="authors" [options]="{itemPerPage: getItemsPerPage()}" (paginatedList$)="setPaginatedList($event)"></app-pager>
    </section>
  </div>
</div>
